root { 
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a4f54;
    background-color: #dfecf1;
    font-size: small;
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/65/e9/5f/65e95f24c640d2f798cb578a7b5a097e.jpg");
}

input{
    width: 100%;
    background: #fff;
    border-radius: 20px;
    height: 25px;
    line-height: 25px;
}

a {
    padding:10px 15px;
    border:1px solid #4e6a71;
    border-radius:5px;
    background-color:#b2d5d6;

    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;

    box-shadow:1px 1px 1px #000;

    display:inline-block;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0 , 0, 0, 15);
}

table thead tr{
    background-color: #b2d5d6;
    color: black;
    text-align: left;
    font-weight: bold;
}

table tr{
    background-color: #b2d5d6;
    color: black;
    text-align: left;
    font-weight: bold;
}

table th, table td{
    padding: 12px 15px;
}

tbody tr{
    border-bottom: 1px solid #fefeff;
}

tbody tr:nth-of-type(even){
    background-color: #fefeff;
}

tbody tr:last-of-type{
    border-bottom: 2px solid #3a4f54;
}

form.jsfcrud_list_form th, td th {
    font-size: x-small;
    color: #4e6a71;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #90b4bd;
    border-right-color: #90b4bd;
    letter-spacing: 3px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #b2d5d6;
}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
}

form.jsfcrud_list_form td, td td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #b2d5d6;
    border-right-color: #b2d5d6;
    vertical-align: baseline;
    padding-bottom: 0px;
}

tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}


tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}
